  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}  
  {% load render_table from django_tables2 %}
{% for message in messages %}
<h4><div class="alert alert-{{ message.tags }}"><a class="close" data-dismiss="alert">×</a><strong>Exito!!!</strong> <p>{{ message }}</p></div></h4>
{% endfor %}
<ul class="nav nav-tabs">
    <li><a href="{% url ogcs-mantenimiento-evento-add %}">Nuevo</a></li>
    <li class="active"><a href="{% url ogcs-mantenimiento-evento-query %}" >Consultar</a></li>
    <li ><a href="{% url ogcs-calendar %}" >Calendario</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="consulta" class="tab-pane fade in active">
<form class="form-inline" name="frmreg" method="get" action="{% url  ogcs-mantenimiento-evento-query %}"><!--data-toggle="modal"-->
<div id="frmregion" class="modal" style="position: relative; top: auto; left: auto; margin:auto auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarform('contenido');">&times;</a>
      <h3>Consulta de Actividades </h3>
    </div>
    <div class="modal-body">

      <div class="row-fluid">
      <div class="span2" >{{ form.organismo.label_tag }}:</div><div class="span4">{{ form.organismo }}</div>
      <div class="span2" >{{ form.dependencia.label_tag }}:</div><div class="span4">{{ form.dependencia }}</div></div><br>

      <div class="row-fluid">
      <div class="span2" >{{ form.region.label_tag }}:</div><div class="span4">{{ form.region }}</div>
      <div class="span2" >{{ form.provincia.label_tag }}:</div><div class="span4">{{ form.provincia }}</div>
      </div><br>

      <div class="row-fluid">
      <div class="span2" >{{ form.distrito.label_tag }}:</div><div class="span4">{{ form.distrito }}</div>
      </div><br>

      <div class="row-fluid">
      <!--<div class="span2" >{{ form.organismo.label_tag }}:</div><div class="span4">{{ form.organismo }}</div>
        <div class="span2" >{{ form.dependencia.label_tag }}:</div><div class="span4">{{ form.dependencia }}</div>-->
        <div class="span2" >{{ form.titulo.label_tag }}:</div><div class="span7">{{ form.titulo }}</div>
        </div><br /> 
        <div class="row-fluid">          
          <div class="span2"><label>Fecha inicial:</label></div><div class="span3">
          <label class="input-append date" style="display:inline" id="dp1" data-date-format="dd/mm/yyyy" >{{ form.fechaini }}<span class="add-on"><i class="icon-th"></i></span></label></div> 

          {% comment %}
          <div class="span2"><label>Fecha Termi:</label></div>
          <div class="span3">
          <label id="dp2" style="display:inline" class="input-append date" data-date-format="dd/mm/yyyy" >{{ form.fechafin }}<span class="add-on"><i class="icon-th"></i></span></label></div>
          {% endcomment %}

          <input  class="btn-primary" name="grabar" value="Consultar" type="submit">&nbsp;&nbsp;<a class="btn btn-primary" href="javascript: imprimir();">Imprimir</a> </div><br />
      <br><input type="hidden" value="{{ dependencia }}" id="id_dep" name="id_dep"> 
      <fieldset>
	<legend><h4>Lista de actividades</h4></legend>
      {% render_table table_eventos %}
      </fieldset>
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarform('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>

$(document).ready(function(){

  dependencias(0);
  combotodos('id_organismo');
  get_provincias();
  get_distritos();
  
});

$('#id_fechaini').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es',
    autoclose: true,    
}).on('changeDate', function(ev){
$('#id_fechaini').datepicker('hide');});

$('#id_fechafin').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es',
    autoclose: true    
}).on('changeDate', function(ev){
$('#id_fechafin').datepicker('hide');});

function deleteEvent(evento,fila){    
    if(confirm("¿Esta seguro que desea eliminar este evento")){        
        var url= '{% url ogcs-mantenimiento-evento-delete %}';       
        $.post(url,{csrfmiddlewaretoken:"{{ csrf_token }}",codigo:evento,}, function(data) {
          $("#tbl_eventos tr[id='trow_"+fila+"']").remove();
          alert("El evento ha sido eliminado con éxito!") ;          
        });        
  }
}

   comboelegir('id_distrito');
   comboelegir('id_provincia');
   comboelegir('id_region');

   function get_provincias(){
        var provincia = $("#id_provincia");
        var region = $("#id_region");
        var id = region.val();
        $.getJSON('/ubigeo/provincia/json/?r='+id, function(data){
            provincia.html("<option value>--ELEGIR--</option>");
            $.each(data, function(key,value){
                provincia.append("<option value='"+value.fields.numpro+"'>"+value.fields.provincia+"</option>");
            });
            get_distritos();
      });
    }

    function get_distritos(){
      var region = $("#id_region");
      var provincia = $("#id_provincia");
      var distrito = $("#id_distrito");
      $.getJSON('/ubigeo/distrito/json/?r='+region.val()+'&p='+provincia.val(), function(data){
        distrito.html("<option value>--ELEGIR--</option>");
        $.each(data, function(key,value){
          distrito.append("<option value='"+value.fields.numdis+"'>"+value.fields.distrito+"</option>");
        });
      });
    }

</script>
  {% endblock %}
