  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}  
  {% load render_table from django_tables2 %}
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>Registro modificado satisfactoriamente.</p></div></h4>
{% endif %}
<ul class="nav nav-tabs">
    <li><a href="{% url ogcs-mantenimiento-usuario-add nivel %}">Nuevo</a></li>
    <li class="active"><a href="{% url ogcs-mantenimiento-usuario-consulta nivel %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="consulta" class="tab-pane fade in active">
<form class="form-inline" name="frmreg" method="get" action="{% url ogcs-mantenimiento-usuario-consulta nivel %}"><!--data-toggle="modal"-->
<div id="frmregion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');">&times;</a>
       {% if nivel == "1" %}<h3>Consulta de Usuario</h3>{% else %}<h3>Consulta de Administrador</h3> {% endif %}
    </div>
    <div class="modal-body">      
      {% for campo in consultausuarioform %}
      {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 5 %}<div class="row-fluid"> {% endif %}
      <div class="span2">{{ campo.label_tag }}</div><div class="span4">{{ campo }}</div>{% if forloop.counter == 2 or forloop.counter == 4 %}</div><p></p>{% endif %}{% if forloop.counter == 5%}<div class="span2"><input class="btn-primary" name="grabar" value="Consultar" type="submit"></div> <div class="span2"><a class="btn btn-primary" href="javascript: imprimir();">Imprimir</a> </div></div><p></p>{% endif %}
      {% endfor %}
      <br><input type="hidden" value="{{ dependencia }}" id="id_dep" name="id_dep">
      <fieldset>
	<legend><h4>Lista de usuarios</h4></legend>
      {% render_table tabla %}    
      </fieldset>
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
     
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
$(document).ready(function() {
  dependencias(0); combotodos('id_organismo');  combotodos('id_estado');
});
function imprimir(){
var organismo=$('#id_organismo').val();
var apellidos=$('#id_apellidos').val();
var estado=$('#id_estado').val();
var nombres=$('#id_nombres').val();
var dependencia=$('#id_dependencia').val();
var url="{% url ogcs-mantenimiento-usuario-print nivel %}?organismo="+organismo+"&apellidos="+apellidos+"&estado="+estado+"&nombres="+nombres+"&dependencia"+dependencia;
location.href=url;
}
validaletra('id_nombres');validaletra('id_apellidos');
</script>
  {% endblock %}
