 {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  <div id="contenido">
    	<div id="contenido_izq">
             <form class="form-inline fondo" name="login">                   
                 <div id="frmprovincia" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto">
		    <div class="modal-header">             
			<a class="close" data-dismiss="modal" >&times;</a>
			<h3>Restablecimiento de contraseña completado</h3>         
                   </div>
		   <div class="modal-body">
                       <div class="row-fluid">
                       <div class="span12"><div class="alert alert-success">
			<stron> <h5>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</h5></strong></div>
                       </div></div>                       
                  </div>
                    <div class="modal-footer">
<a class="btn btn-primary" href="{% url ogcs-login %}"><i class="icon-user icon-white"></i>Iniciar Sesión</a>		     			     
		    </div>
                </div>
             </form>
       </div> 
       <div id="contenido_der"></div>    
</div>
{% endblock %}
 {% block scriptjs %}    
  {% endblock %}
