<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div><table width="575" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#EEEEEE">
  <tr>
    <td width="571"><table width="572" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50"><img src="{{protocol}}://{{ domain }}{{ static }}images/lococmchico.jpg" width="100" height="48"/>
        <img src="{{protocol}}://{{ domain }}{{ static }}images/logopcm.png" width="200" height="48" style="margin:auto auto auto 267px"/></td>
      </tr>
      <tr>
        <td><table width="561" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="554">&nbsp;</td>
          </tr>
          
          <tr>
            <td><span style="font-family: Arial, Helvetica, sans-serif;font-size: 12px;"><strong>Sr(a): {{ usuario.get_full_name }} </strong><br /><br />Le adjuntamos la dirección web para modificar su contraseña: <span style="color: #E12A40;font-weight: bold;">{{ protocol }}://{{ domain }}/home/accounts/password/reset/{{ uid }}-{{ token }}/ </span> en la Plataforma Intersectorial de Comunicación Social OGCS - PCM.<br /> 
              </span><br /><br />
              <span style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;">Cordialmente</span></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr><td></td></tr>
  <tr>
    <td bgcolor="#EEEEEE"><span style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;"><strong>Oficina General de Comunicación Social.</strong></span></td>
  </tr>
</table></div>
