  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}    
    <div id="contenido">
    	<div id="contenido_izq">
{% if m == "userr" %}
    <h3><div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
    <p>Usuario creado correctamente,pero no se ha podido enviar el email con los datos del registro.</p></div></h3>
  {% endif %}
  {% if m == "usadd" %}
    <h3><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
    <p>Usuario creado correctamente, se ha enviado un email con los datos del registro.</p> </div></h3>
  {% endif %}
       <div id="myCarousel" class="carousel slide" align="middle">
	<div class="carousel-inner">
	   <div class="item active">
	      <img alt="" src="{{ STATIC_URL }}images/intrito2.jpg">
	   </div>
	   <div class="item">
              <img alt="" src="{{ STATIC_URL }}images/intrito3.jpg">
           </div>
        </div>
      </div>
    </div>
{% endblock %}
