  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% load render_table from django_tables2 %}
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>{{ mensaje }}</p></div></h4>
{% endif %}
    <ul class="nav nav-tabs">
    {% if opcion == "add" %}
    <li class="active"><a href="{% url ogcs-mantenimiento-categoria-add %}">Nuevo</a></li>{% else %}
    <li class="active"><a href="{% url ogcs-mantenimiento-categoria-edit codigo %}">Modificar</a></li>{% endif %}
    <li><a href="{% url  ogcs-mantenimiento-categoria-query %}" >Consultar</a></li>
    </ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active">
{% if opcion == "add" %}
<form class="form-inline" name="frmcat" method="post" action="{% url ogcs-mantenimiento-categoria-add %}" onsubmit="return guardar();" >{% else %}
<form class="form-inline" name="frmcat" method="post" action="{% url ogcs-mantenimiento-categoria-edit codigo %}" onsubmit="return guardar();">
{% endif %}
<div id="frmregion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');" >&times;</a>
      <h3>Mantenimiento de Categoría</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
<div class="alert alert-error" id="alert"><strong>{{ formulario.name.errors }}</strong></div>
      <div class="row-fluid">
            	<div class="row-fluid"><div class="span2"><label>Categoría:</label></div>
                <div class="span6">{{ formulario.name }}</div></div><p></p>
                <div class="row-fluid"><div class="span2"><label>Estado:</label></div>
                <div class="span5">{{ formulario.estado }}</div>
                <div class="span3"><label>{{ formulario.hidden }} Solo Administradores</label></div></div><p></p>
                <div class="row-fluid"><div class="span2"><label>Posición:</label></div>
                <div class="span2">{{ formulario.position }}</div></div>                                
    </div><br />
   
<!----------------------------------------------------------------------------------->

<!----------------------------------------------------------------------------------->
    </div>
    <div class="modal-footer">
     <input class="btn-primary" name="grabar" value="{% if opcion == 'add' %}Guardar {% else %} Modificar {% endif %}" type="submit">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">     
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
validanumero('id_position');comboelegir('id_estado');validaalfa('id_name');
/*function foros(){
    var foro=$('#id_name_foro');var estado=$('#id_estado_forum');
    var posicion=$('#id_position_foro');
    var admin=document.getElementById("id_hidden_foro");
    var tabla= $('#id_foros').find("tbody");
    var n= tabla.find("tr").length;
    var ok=true;
    if ($.trim(foro.val())==''){
        $('#alert1').show().find('strong').text('Debe ingresar el Foro.');
		foro.focus();
        return false;
    }else{
		$('#alert1').hide();
    }
    if ($.trim(posicion.val())==''){
        $('#alert1').show().find('strong').text('Debe ingresar la Posición, caso contrario escriba 0.');
		posicion.focus();
        return false;
    }else{
		$('#alert1').hide();
    }
if ($.trim(estado.val())==''){
    $('#alert1').show().find('strong').text('Debe seleccionar el estado.');
    estado.focus();
    return false;
}else{
        $('#alert1').hide();
}

    $.each(tabla.find("tr"),function(){   
        if ($(this).find("td:eq(1) input:hidden").val()==foro.val()){
            ok=false;
            return false;
        }
    });//document.getElementById("id_politica").checked
    if(ok==true){
        n+=1;
fila="<tr class='"+n+"'><td>"+n+"</td><td><input type='hidden' name='cforo' value='"+foro.val()+"'>"+foro.val()+"</td><td><input type='hidden' name='cpos' value='"+posicion.val()+"'>"+posicion.val()+"</td><td><input type='hidden' name='chid' value='"+(admin.checked?1:0)+"'>"+(admin.checked?'SI':'NO')+"</td><td><input type='hidden' name='cest' value='"+estado.val()+"'>"+estado.find('option:selected').text()+"</td><td> <a href='javascript: removedetalle("+n+")'><div id='delete'></div></a></td></tr>"
        tabla.append(fila);
		$('#alert1').hide();
    }else{
        $('#alert1').show().find('strong').text('Este FORO ya ha sido agregado. Ingrese otro porfavor!');
        foro.select();
        foro.focus();
        return false;
    }
    foro.val('');
    foro.focus();
    document.getElementById("id_hidden_foro").checked = false;
    posicion.val('0');
}
*/
function removedetalle(fila){
    tabla="#id_foros";
    $(tabla+" tr:eq("+fila+")").remove();
    var n=1;
    var tdetalle= $(tabla);
    /*AUTO REORDENAMIENTO DE ITEMS LUEGO DE ELIMINAR*/
    $.each(tdetalle.find("tbody tr"),function(){
        this.cells[0].innerHTML=n;    
        //this.cells[5].innerHTML="<a href='javascript: removedetalle("+n+")'><div id='delete'></div></a>";
        n+=1;
    });
}

function guardar() {
var categoria=$('#id_name');var estado=$('#id_estado');
var posicion=$('#id_position');
if ($.trim(categoria.val())==''){
    $('#alert').show().find('strong').text('Debe ingresar el nombre de la Categoría.');
    categoria.focus();
    return false;
}else{
	$('#alert').hide();
}
if ($.trim(posicion.val())==''){
    $('#alert').show().find('strong').text('Debe ingresar la posicion de la Categoría, caso contrario escriba 0 (cero).');
    posicion.focus();
    return false;
}else{
	$('#alert').hide();
}
if ($.trim(estado.val())==''){
    $('#alert').show().find('strong').text('Debe seleccionar el estado.');
    estado.focus();
    return false;
}else{
        $('#alert').hide();
}

return confirmar("¿Desea {% if opcion == 'add' %}Guardar {% else %} Modificar {% endif %} el registro?");
}
</script>
  {% endblock %}
