  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
{% if messages %}
{% for message in messages %}
<h4><div class="alert alert-{{ message.tags }}"><a class="close" data-dismiss="alert">×</a><strong>Exito!!!</strong> <p>{{ message }}</p></div></h4>
{% endfor %}
{% endif %}
<ul class="nav nav-tabs">{% if doc %}
<li class="active"><a href="{% url ogcs-mantenimiento-doc-edit doc.codigo %}">Modificar</a></li>{% else %}
<li class="active"><a href="{% url ogcs-mantenimiento-doc-add %}">Nuevo</a></li>{% endif %}
<li><a href="{% url ogcs-mantenimiento-doc-query %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active">
<form enctype="multipart/form-data" class="form-inline" id="frmdoc" name="frmdoc" method="post" 
{% if doc %}
action="{% url ogcs-mantenimiento-doc-edit doc.codigo %}" {% else %}
action="{% url ogcs-mantenimiento-doc-add %}" {% endif %}> 
<div id="frmprovincia" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>     
      <h3>Documentos Varios</h3>     
    </div>
    <div class="modal-body">
      {% csrf_token %}            
      {{ formulario.archivo.errors }}
      <div class="row-fluid">         
      <div class="span3">{{ formulario.archivo.label_tag }}:</div><div class="span7">{{ formulario.archivo }}</div>
   <div class="span2"><input class="btn" name="limpiar" value="Limpiar" type="button" onClick="$('#id_archivo').val('');">
   </div></div><p></p>
      {{ formulario.descripcion.errors }}
      <div class="row-fluid">        
      <div class="span3">{{ formulario.descripcion.label_tag }}:</div><div class="span9">{{ formulario.descripcion }}</div></div>
      <br>
      <div class="row-fluid">
        {{ formulario.fecha.errors }}
      <div class="span3"><label>Fecha del Documento:</label></div> <div class="span6"><label class="input-append date" style="display:inline" id="dp1" data-date-format="dd/mm/yyyy" > {{ formulario.fecha }}<span class="add-on"><i class="icon-th"></i></span></label> </div> </div>
      <br>
      <div class="row-fluid">
        {{ formulario.estado.errors }}
      <div class="span3">{{ formulario.estado.label_tag }}:</div><div class="span3">{{ formulario.estado }}</div></div>
    </div>
    <div class="modal-footer">
     <input class="btn-primary" name="grabar" value="{% if doc %}Modificar{% else %}Guardar{% endif %}" type="submit">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}  
<script>
$('#frmdoc').submit(function() {{% if not doc %}
if($('#id_archivo').val()==''){  
  alert('Debe adjuntar el archivo a subir');return false;  
}{% endif %}
if($("#id_descripcion").val()==''){
  alert('Debe agregar una breve descripción sobre el archivo a subir');
  $("#id_descripcion").focus(); return false;
}
return confirmar('¿Desea {% if doc %}Modificar{% else %}Guardar{% endif %} el registro?');
});
$(document).ready(function() {
  fecha = new Date();
   $("#id_fecha").attr('readonly', 'readonly');//   Fecha Inicial.
 
$('#dp1').datepicker({
    format: 'dd/mm/yyyy',
    language: 'es',
    autoclose: true,
    endDate: new Date(),
}).on('changeDate', function(ev){
$('#dp1').datepicker('hide');});
});
</script>
{% endblock %}
