  {% extends 'base.html' %}
  {% load static %}
  {% block csspage %}
  <style type="text/css">
	label.error {
	    color: red;top:-20px;position:relative;height:30px;
	    /*float: none;*/
	    /*padding-left: 0.5em;*/
	    /*vertical-align: top;*/
            float: left;
	}
	#id_nombremmca{width:535px}
	
	#id_fechaini_mcca,#id_fechafin_mcca,#id_fechafin_acc,#id_fechaini_acc{width:100px}
	#id_privado{width:389px}
	#id_acciones{width:392px}
	#id_indicador{width:547px}
	#id_mensaje{width:553px}
	#id_observacion{width:532px}
	
  </style>
  {% endblock %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% load render_table from django_tables2 %}
  
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>{{ mensaje }}</p></div></h4>
{% endif %}
<ul class="nav nav-tabs">
<li class="active"><a href="{% url ogcs-mantenimiento-mcca-add %}">Nuevo</a></li>
<li><a href="{% url ogcs-mantenimiento-mcca-query %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active" style="width:500px">
<form class="form-inline" id="frmcca" name="frmcca" method="post" action="{% if accion %}{% url ogcs-mantenimiento-mcca-add %}{% else %}{% url ogcs-mantenimiento-mcca-edit codigo %}{% endif %}" onsubmit="return guardar_mcca();" ><!--data-toggle="modal"-->
<div id="frmprovincia" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <h3>Nuevo MCCA (Matriz de Campaña de Comunicaciones Anuales)</h3>
      
    </div>
    <div class="modal-body" style="max-height:2000px;" >
      {% csrf_token %}
      {{ form.errors }}
      <div class="row-fluid">
          <div class="alert alert-error" id="alert"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
          <label>Nombre de la campaña: </label> {{ form.nombremmca }}<br /><br />
          <label class="input-append date" style="display:inline" id="dp4" data-date-format="dd/mm/yyyy" >Fecha inicial: {{ form.fechaini }}<span class="add-on"><i class="icon-th"></i></span></label> 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
          <label id="dp5" style="display:inline" class="input-append date" data-date-format="dd/mm/yyyy" >Fecha final:  {{ form.fechafin }}<span class="add-on"><i class="icon-th"></i></span></label>

      </div>
     <!------------------------------------------------------------------------------------------------------------------>    
    <!------------------------------------------------------- Sectores Involucrados Estado  ---------------------------------------------->
	 
      	<div class="modal-header">
      		<h3>Sectores Involucrados Estado</h3>
      	</div>
    	<div class="row-fluid">
       		<div class="alert alert-error" id="alert1"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
    		<label>{{ form_estado.organismo.label_tag }}: {{ form_estado.organismo }}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>{{ form_estado.dependencia.label_tag }}: {{ form_estado.dependencia }}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if not user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="sectores_estado()">{% endif %}
    	</div>
      
        <br><input type="hidden" value="{{ dependencia }}" id="id_dep" name="id_dep">
          	<fieldset>
          	{% render_table tabla %}    
          	</fieldset>
     <!------------------------------------------------------------------------------------------------------------------> 
     <!------------------------------------------------------- Sectores Involucrados Privado  ---------------------------------------------->
    
        <div class="modal-header">
      		<h3>Sectores Involucrados Privado</h3>
      	</div>
    	<div class="row-fluid"><br />
        	<div class="alert alert-error" id="alert2"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
    		{{ form_privado}}&nbsp;&nbsp;&nbsp;&nbsp;{% if not user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="sectores_privado();">{% endif %}<br /><br />
    	</div>
      
        
          	<fieldset>
          	{% render_table tabla1 %}    
          	</fieldset>
       <!------------------------------------------------------------------------------------------------------------------>       
       <!------------------------------------------------------- indicadores ---------------------------------------------->      
       
            <div class="modal-header">
      		<h3>Indicadores</h3>
      	</div>
    	<div class="row-fluid"><br />
        	<div class="alert alert-error" id="alert3"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
    		{{ form_indicador}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if not user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="indicadores()">{% endif %}
    	</div>
      
        <br>
          	<fieldset>
          	{% render_table tabla2 %}    
          	</fieldset>
        <!------------------------------------------------------------------------------------------------------------------>      
       <!------------------------------------------------------- mensaje  ---------------------------------------------->
             
            <div class="modal-header">
      		<h3>Mensajes</h3>
      	</div>
    	<div class="row-fluid"><br />
        	<div class="alert alert-error" id="alert4"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
    		{{ form_mensaje }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if not user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="mensajes()">{% endif %}
    	</div>
      
        <br>
          	<fieldset>
          	{% render_table tabla3 %}    
          	</fieldset>
        
        <!------------------------------------------------------------------------------------------------------------------>    
    <!------------------------------------------------------- canal  ---------------------------------------------->
	 
      	<div class="modal-header">
      		<h3>Canales de comunicación</h3>
      	</div>
    	<div class="row-fluid"><br />
        	<div class="alert alert-error" id="alert5"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
    		<label>Tipo: {{ form_canal.tipommca }}</label>&nbsp;&nbsp;<label>Canal de comunicación: {{ form_canal.canal }}</label>&nbsp;&nbsp;&nbsp;&nbsp;{% if not user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="canales()">{% endif %}
    	</div>
      
        <br>
          	<fieldset>
          	{% render_table tabla4 %}    
          	</fieldset>
        
        
         <!------------------------------------------------------------------------------------------------------------------>      
       <!------------------------------------------------------- accion  ---------------------------------------------->
             
            <div class="modal-header">
      		<h3>Aciones planteadas</h3>
      	</div>
    	<div class="row-fluid"><br />
    		<div class="alert alert-error" id="alert6"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
          		<label class="input-append date" style="display:inline" id="dp6" data-date-format="dd/mm/yyyy" >Fecha inicial: {{ form_accion.fechainia }}<span class="add-on"><i class="icon-th"></i></span></label> 
          		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
          		<label id="dp7" style="display:inline" class="input-append date" data-date-format="dd/mm/yyyy" >Fecha final:  {{ form_accion.fechafina }}<span class="add-on"><i class="icon-th"></i></span></label><br /><br />
                <label>{{ form_accion.acciones.label_tag }}: {{ form_accion.acciones }}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if not user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="accion();"> {% endif %}
    	</div>
      
        <br>
          	<fieldset>
          	{% render_table tabla5 %}    
          	</fieldset>
        
        
        
        <!------------------------------------------------------------------------------------------------------------------>      
       <!------------------------------------------------------- observacion  ---------------------------------------------->
             
            <div class="modal-header">
      		<h3>Observaciones OGCS</h3>
      	</div>
    	<div class="row-fluid"><br />
        	<div class="alert alert-error" id="alert7"><strong></strong><!--<a class="close" data-dismiss="alert">×</a>--></div>
    		{{ form_observacion }}&nbsp;&nbsp;&nbsp;&nbsp;{% if request.user.is_superuser %}<input class="btn-primary" name="agregar" value="Agregar" type="button" onclick="observaciones()">{% endif %}
    	</div>
      
        <br>
          	<fieldset>
          	{% render_table tabla6 %}    
          	</fieldset>
        
            
            
        
        </div>
    
    <div class="modal-footer">
     <input class="btn-primary" name="grabar" value="Guardar" type="submit">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}  

<script src="{{ STATIC_URL  }}js/mcca.js" type="text/javascript"></script>
<script>
comboelegir('id_organismo');comboelegir('id_tipommca');

{% if request.user.is_superuser %}
 $("#id_observacion").removeAttr("readonly");
 $("#id_nombremmca").attr('readonly', 'readonly'); //Nombre de la Campaña.
 $("#id_fechaini_mcca").attr('readonly', 'readonly');//   Fecha Inicial.
 $("#id_fechafin_mcca").attr('readonly', 'readonly');//    Fecha Final.
 $("#id_organismo").attr('disabled', 'disabled');//   Sectores involucrados Estado con sus campos: Organismo, Dependencia.
 $("#id_dependencia").attr('disabled', 'disabled');//   Sectores involucrados Estado con sus campos: Organismo, Dependencia.
 $("#id_privado").attr('readonly', 'readonly');//   Sectores involucrados Privado con sus campos: Nombre de sectores involucrados.
 $("#id_indicador").attr('readonly', 'readonly');//   Indicador con sus campos: Indicador.
 $("#id_mensaje").attr('readonly', 'readonly');//   Mensajes con sus campos: Mensaje.
 $("#id_tipommca").attr('disabled', 'disabled');//  Canales de Comunicacion con sus campos: Tipo, Canal de Comunicacion.
 $("#id_canal").attr('readonly', 'readonly');//  Canales de Comunicacion con sus campos: Tipo, Canal de Comunicacion.
 $("#id_fechaini_acc").attr('readonly', 'readonly');//   Acciones Planteadas con sus campos: Fecha Inicial, 
 $("#id_fechafin_acc").attr('readonly', 'readonly');//   Acciones Planteadas con sus campos: Fecha Final, 
 $("#id_acciones").attr('readonly', 'readonly');//   Acciones Planteadas con sus campos: Nombre de las acciones
{% else %}
 $("#id_observacion").attr('readonly', 'readonly'); 
{% endif %}


$('#dp4').datepicker().on('changeDate', function(ev){
					var fechaini = $("#id_fechaini_mcca").val().split('/');
					var fechafin = $("#id_fechafin_mcca").val().split('/');
					 var stDate = new Date(fechaini[2],fechaini[1],fechaini[0]);
            		 var endDate = new Date(fechafin[2],fechafin[1],fechafin[0]);
					 
					if($('#id_fechafin_mcca').val()!=""){
						if (stDate.valueOf() > endDate.valueOf()){
							$('#alert').show().find('strong').text('La fecha inicial no puede ser mayor que la fecha final.');
							$('#id_fechaini_mcca').val($('#id_fechafin_mcca').val())
						} else {
							$('#alert').hide();
						}
					}$('#dp4').datepicker('hide')
				});

$('#dp5').datepicker().on('changeDate', function(ev){
					var fechaini = $("#id_fechaini_mcca").val().split('/');
					var fechafin = $("#id_fechafin_mcca").val().split('/');
					 var stDate = new Date(fechaini[2],fechaini[1],fechaini[0]);
            		 var endDate = new Date(fechafin[2],fechafin[1],fechafin[0]);
					
					if($('#id_fechaini_mcca').val()!=""){
						if (stDate.valueOf() > endDate.valueOf()){
							$('#alert').show().find('strong').text('La fecha final no puede ser menor que la fecha inicial.');
							$('#id_fechafin_mcca').val($('#id_fechaini_mcca').val())
						} else {
							$('#alert').hide();
						}
					}$('#dp5').datepicker('hide');
				});


$('#dp6').datepicker().on('changeDate', function(ev){
					var fechaini = $("#id_fechaini_acc").val().split('/');
					var fechafin = $("#id_fechafin_acc").val().split('/');
					 var stDate = new Date(fechaini[2],fechaini[1],fechaini[0]);
            		 var endDate = new Date(fechafin[2],fechafin[1],fechafin[0]);
					 
					if($('#id_fechafin_acc').val()!=""){
						if (stDate.valueOf() > endDate.valueOf()){
							$('#alert6').show().find('strong').text('La fecha inicial no puede ser mayor que la fecha final.');
							$('#id_fechaini_acc').val($('#id_fechafin_acc').val())
						} else {
							$('#alert6').hide();
						}
					}$('#dp6').datepicker('hide')
				});

$('#dp7').datepicker().on('changeDate', function(ev){
					var fechaini = $("#id_fechaini_acc").val().split('/');
					var fechafin = $("#id_fechafin_acc").val().split('/');
					 var stDate = new Date(fechaini[2],fechaini[1],fechaini[0]);
            		 var endDate = new Date(fechafin[2],fechafin[1],fechafin[0]);
					
					if($('#id_fechaini_acc').val()!=""){
						if (stDate.valueOf() > endDate.valueOf()){
							$('#alert6').show().find('strong').text('La fecha final no puede ser menor que la fecha inicial.');
							$('#id_fechafin_acc').val($('#id_fechaini_acc').val())
						} else {
							$('#alert6').hide();
						}
					}$('#dp7').datepicker('hide');
				});
				
</script>

  {% endblock %}
