  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% include 'include/header.html' %}
  {% load render_table from django_tables2 %}
<ul class="nav nav-tabs">
    <li><a href="{% if aporte %}{% url ogcs-mantenimiento-pgcs-aporte-add %}{% else %}{% url ogcs-mantenimiento-pgcs-add %}{% endif %}">Nuevo</a></li>
    <li class="active"><a href="{% if aporte %}{% url ogcs-mantenimiento-pgcs-aporte-query %}{% else %}{% url ogcs-mantenimiento-pgcs-query %}{% endif %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido">
<div id="consulta" class="tab-pane fade in active">
<form class="form-inline span5" name="frmoac" method="get" action="{% if aporte %}{% url ogcs-mantenimiento-pgcs-aporte-query %}{% else %}{% url ogcs-mantenimiento-pgcs-query %}{% endif %}"><!--data-toggle="modal"-->
<div id="frmregion" class="modal span7" style="position: relative; top: auto; left: absolute; margin: 0 auto; z-index: 1"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');">&times;</a>
      {% if aporte %}
      <h3>Consulta Aporte PGCS (Plan General de Comunicación del sector)</h3>
      {% else %}
      <h3>Consulta PGCS (Plan General de Comunicación del sector)</h3>
      {% endif %}
    </div>
    <div class="modal-body">

      <div class="row-fluid">
      <div class="span2">{{ formulario.organismo.label_tag }}:</div><div class="span2">{{ formulario.organismo }}</div></div><p></p>
      <div class="row-fluid">
      <div class="span2">{{ formulario.dependencia.label_tag }}:</div><div class="span5">{{ formulario.dependencia }}</div>
 <div class="span2"><input  class="btn-primary" name="grabar" value="Consultar" type="submit"></div><div class="span2"><a class="btn btn-primary" href="javascript: imprimir();">Imprimir</a> </div></div>
      <br><input type="hidden" value="{{ dependencia }}" id="id_dep" name="id_dep">
      <fieldset>
	<legend><h4>Lista de PGCS</h4></legend>
      {% render_table tabla %}    
      </fieldset>
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
$(document).ready(function() {
  dependencias(0); combotodos('id_organismo');
});
function imprimir(){
var org=$('#id_organismo').val();var dep=$('#id_dependencia').val();
{% if aporte %}
var url="{% url ogcs-mantenimiento-pgcs-print 2 %}?organismo="+org+'&dependencia='+dep;
{% else %}
var url="{% url ogcs-mantenimiento-pgcs-print 1 %}?organismo="+org+'&dependencia='+dep;
{% endif %}
location.href=url;
}
</script>
  {% endblock %}
