<div class="container" >
  <div class="page-header">
    <div class="navbar-inner" >
		<ul class="nav nav-pills">
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">Mantenimiento<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="/ubigeo/region/add/" data-toggle="modal">Regi&oacute;n</a></li>                
		  <li><a href="/ubigeo/provincia/add/" data-toggle="modal">Provincia</a></li>
		  <li><a href="/dependencia/ministerio/add/" data-toggle="modal">Ministerio</a></li>
		  <li><a href="/dependencia/odp/add/" data-toggle="modal">ODP</a></li>
		  <li><a href="/dependencia/gobernacion/add/" data-toggle="modal">Gobernaci&oacute;n</a></li>
		  <li><a href="/usuario/add/" data-toggle="modal">Usuario</a></li>
                  <li><a href="/usuario/admin/add/" data-toggle="modal">Administrador</a></li>
		</ul>
	      </li>
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">OAC<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-oac-add %}" data-toggle="modal">Nuevo Oac</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-oac-query %}" data-toggle="modal">Consultar Oac</a></li>		  
		</ul>
	      </li>
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">PGCS<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-pgcs-add %}" data-toggle="modal">PGCS - OGCS</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-pgcs-aporte-add %}" data-toggle="modal">PGCS - APORTE</a></li>		  
		</ul>
	      </li>		   
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">MCCA<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="#" data-toggle="modal">Nuevo Mcca</a></li>                
		  <li><a href="#" data-toggle="modal">Consultar Mcca</a></li>		  
		</ul>
	      </li>   
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">MCC<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="#" data-toggle="modal">Nuevo Mcc</a></li>                
		  <li><a href="#" data-toggle="modal">Consultar Mcc</a></li>		  
		</ul>
	      </li>   
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">MG<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="#" data-toggle="modal">Nuevo Mg</a></li>                
		  <li><a href="#" data-toggle="modal">Consultar Mg</a></li>		  
		</ul>
	      </li>
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">DIG<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="#" data-toggle="modal">Nuevo Dig</a></li>                
		  <li><a href="#" data-toggle="modal">Consultar Dig</a></li>		  
		</ul>
	      </li>
	      <li class="dropdown">
		<a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">ARI<b class="caret"></b></a>
		<ul class="dropdown-menu">                  
                  <li><a href="#" data-toggle="modal">Nuevo Ari</a></li>                
		  <li><a href="#" data-toggle="modal">Consultar Ari</a></li>		  
		</ul>
	      </li><!--
	      <li><a href="">Calendario de Actividades</a></li>
	      <li><a href="">Chat Privado</a></li>
	      <li><a href="">Foro</a></li>-->
            <li class="pull-right"><a class="menublanco" href="/home/logout/">Cerrar Sesión  <img src="{{ STATIC_URL  }}images/sesion.png"></a></li> 
	    </ul>             
          </div>            
        </div>
      </div>

