  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% include 'include/header.html' %}
<ul class="nav nav-tabs">
<li class="active"><a href="/dependencia/gobernacion/{{ opcion }}/{% if codigo %}{{ codigo }}/{% endif %}">{% if opcion == "add" %}Nuevo {% else %} Modificar {% endif %}</a></li>
<li><a href="/dependencia/gobernacion/consulta/" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido">
<div id="nuevo" class="tab-pane fade in active">
<form class="form-inline" name="frmgob" method="post" action="/dependencia/gobernacion/{{ opcion }}/{% if codigo %}{{ codigo }}/{% endif %}" onSubmit="return confirmar('¿Desea grabar el registro?'); "><!--data-toggle="modal"-->
<div id="frmgobernacion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Matenimiento de Gobernacion</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      {% if opcion == "add" %}
      {{ frmgobernacion.non_field_errors }}
      {{ frmgobernacion.region.errors }}
      <div class="row-fluid">
      <div class="span2"> {{ frmgobernacion.region.label_tag }}:</div><div class="span4"> {{ frmgobernacion.region }}</div></div><p></p>
      {{ frmgobernacion.provincia.errors }}
      <div class="row-fluid">
      <div class="span2">{{ frmgobernacion.provincia.label_tag }}:</div><div class="span4"> {{ frmgobernacion.provincia }}</div></div><p></p>
      {{ frmgobernacion.gobernacion.errors }}
      <div class="row-fluid">
      <div class="span2">{{ frmgobernacion.gobernacion.label_tag }}:</div><div class="span4"> {{ frmgobernacion.gobernacion }}</div></div><p></p>
      {{ frmgobernacion.iniciales.errors }}
      <div class="row-fluid">
      <div class="span2">{{ frmgobernacion.iniciales.label_tag }}:</div><div class="span4"> {{ frmgobernacion.iniciales }}</div></div><p></p>
      <p><input type="hidden" name="estado" id="id_estado" value="1"></p>
      {% else %}
      {{ frmgobernacion.non_field_errors }}
      {% for campo in frmgobernacion %}
      <div class="row-fluid">{{ campo.errors }}<div class="span2"> {{ campo.label_tag }}:</div> <div class="span4">{{ campo }} </div></div><p></p>
      {% endfor %}
      {% endif %}      
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
      <input class="btn-primary" name="grabar" value="Guardar Cambios" type="submit">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}
<script>
$(document).ready(function() {
provincias();
validaletra('id_gobernacion');
validaletra('id_iniciales');
});
</script>
  {% endblock %}
