  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>{{ mensaje }}</p></div></h4>
{% endif %}
<ul class="nav nav-tabs">
{% if opcion == "add" %}
    <li class="active"><a href="{% url ogcs-mantenimiento-gobernacion-add %}">Nuevo</a></li>{% else %}
    <li class="active"><a href="{% url ogcs-mantenimiento-gobernacion-edit codigo %}">Modificar</a></li>{% endif %}
    <li><a href="{% url  ogcs-mantenimiento-gobernacion-consulta %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active">
{% if opcion == "add" %}
<form class="form-inline" name="frmgob" method="post" action="{% url ogcs-mantenimiento-gobernacion-add %}" onSubmit="return confirmar('¿Desea grabar el registro?'); ">
{% else %}
<form class="form-inline" name="frmgob" method="post" action="{% url ogcs-mantenimiento-gobernacion-edit codigo %}" onSubmit="return confirmar('¿Desea modificar el registro?'); ">
{% endif %}
<div id="frmgobernacion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Mantenimiento de Gobernacion</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      {% if opcion == "add" %}
      {{ frmgobernacion.non_field_errors }}
      {{ frmgobernacion.region.errors }}
      <div class="row-fluid">
      <div class="span2"> {{ frmgobernacion.region.label_tag }}:</div><div class="span4"> {{ frmgobernacion.region }}</div></div><p></p>
      {{ frmgobernacion.provincia.errors }}
      <div class="row-fluid">
      <div class="span2">{{ frmgobernacion.provincia.label_tag }}:</div><div class="span4"> {{ frmgobernacion.provincia }}</div></div><p></p>
      {{ frmgobernacion.gobernacion.errors }}
      <div class="row-fluid">
      <div class="span2">{{ frmgobernacion.gobernacion.label_tag }}:</div><div class="span4"> {{ frmgobernacion.gobernacion }}</div></div><p></p>
      {{ frmgobernacion.iniciales.errors }}
      <div class="row-fluid">
      <div class="span2">{{ frmgobernacion.iniciales.label_tag }}:</div><div class="span4"> {{ frmgobernacion.iniciales }}</div></div><p></p>
      <p><input type="hidden" name="estado" id="id_estado" value="1"></p>
      {% else %}
      {{ frmgobernacion.non_field_errors }}
      {% for campo in frmgobernacion %}
      <div class="row-fluid">{{ campo.errors }}<div class="span2"> {{ campo.label_tag }}:</div> <div class="span4">{{ campo }} </div></div><p></p>
      {% endfor %}
      {% endif %}      
    </div>
    <div class="modal-footer">
     <input class="btn-primary" name="grabar" value="{% if opcion == 'add' %}Guardar {% else %} Modificar {% endif %}" type="submit">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}
<script>
$(document).ready(function() {
provincias();
validaletra('id_gobernacion');comboelegir('id_region');
validaletra('id_iniciales');comboelegir('id_provincia');
});
</script>
  {% endblock %}
