 {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>{{ mensaje }}</p></div></h4>
{% endif %}
<ul class="nav nav-tabs">
    {% if opcion == "add" %}
    <li class="active"><a href="{% url ogcs-mantenimiento-odp-add %}">Nuevo</a></li>{% else %}
    <li class="active"><a href="{% url ogcs-mantenimiento-odp-edit codigo %}">Modificar</a></li>{% endif %}
    <li><a href="{% url ogcs-mantenimiento-odp-consulta %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active">
{% if opcion == "add" %}
<form class="form-inline" name="frmodpp" method="post" action="{% url ogcs-mantenimiento-odp-add %}" onSubmit="return confirmar('¿Desea grabar el registro?'); ">
{% else %}
<form class="form-inline" name="frmodpp" method="post" action="{% url ogcs-mantenimiento-odp-edit codigo %}" onSubmit="return confirmar('¿Desea modificar el registro?'); ">
{% endif %}
<div id="frmodp" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Mantenimiento de OPD</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      {% if opcion == "add" %}
      {{ frmodp.non_field_errors }}
      {{ frmodp.nummin.errors }}
      <div class="row-fluid">
      <div class="span3">{{ frmodp.nummin.label_tag }}:</div><div class="span4"> {{ frmodp.nummin }}</div></div><p></p>
      {{ frmodp.odp.errors }}
      <div class="row-fluid">
      <div class="span3">{{ frmodp.odp.label_tag }}:</div><div class="span4"> {{ frmodp.odp }}</div></div><p></p>
      {{ frmodp.iniciales.errors }}
      <div class="row-fluid">
      <div class="span3">{{ frmodp.iniciales.label_tag }}:</div><div class="span4">{{ frmodp.iniciales }}</div></div>
      <p><input type="hidden" name="estado" id="id_estado" value="1"></p>
      {% else %}
      {{ frmodp.non_field_errors }}
      {% for campo in frmodp %}
      <div class="row-fluid">
      {{ campo.errors }}
      <div class="span3"> {{ campo.label_tag }} </div><div class="span5">{{ campo }}</div></div><p></p>
      {% endfor %}
      {% endif %}      
    </div>
    <div class="modal-footer">
     <input class="btn-primary" name="grabar" value="{% if opcion == 'add' %}Guardar {% else %} Modificar {% endif %}" type="submit">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">    
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
validaletra('id_odp');
validaletra('id_iniciales');
comboelegir('id_nummin');
</script>
  {% endblock %}
