 {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% include 'include/header.html' %}
<ul class="nav nav-tabs">
<li class="active"><a href="/dependencia/odp/{{ opcion }}/{% if codigo %}{{ codigo }}/{% endif %}">{% if opcion == "add" %}Nuevo {% else %} Modificar {% endif %}</a></li>
<li><a href="/dependencia/odp/consulta/" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido">
<div id="nuevo" class="tab-pane fade in active">
<form class="form-inline" name="frmodpp" method="post" action="/dependencia/odp/{{ opcion }}/{% if codigo %}{{ codigo }}/{% endif %}" onSubmit="return confirmar('¿Desea grabar el registro?'); "><!--data-toggle="modal"-->
<div id="frmodp" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" >&times;</a>
      <h3>Matenimiento de ODP</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      {% if opcion == "add" %}
      {{ frmodp.non_field_errors }}
      <p>{{ frmodp.nummin.errors }}
      {{ frmodp.nummin.label_tag }}: {{ frmodp.nummin }}</p>
      <p>{{ frmodp.odp.errors }}
      {{ frmodp.odp.label_tag }}: {{ frmodp.odp }}</p>
      <p>{{ frmodp.iniciales.errors }}
      {{ frmodp.iniciales.label_tag }}: {{ frmodp.iniciales }}</p>
      <p><input type="hidden" name="estado" id="id_estado" value="1"></p>
      {% else %}
      {{ frmodp.as_p }}
      {% endif %}      
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
      <input class="btn-primary" name="grabar" value="Guardar Cambios" type="submit">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
$(document).ready(function() {
 //$('#frmregion').modal({show: true,});  
});
</script>
  {% endblock %}
