  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}  
  {% load render_table from django_tables2 %}
{% if mensaje %}
<h4><div class="alert alert-success"><a class="close" data-dismiss="alert">×</a><strong>Mensaje:</strong>
<p>Registro modificado satisfactoriamente.</p></div></h4>
{% endif %}
<ul class="nav nav-tabs">
<li><a href="{% url ogcs-mantenimiento-odp-add %}">Nuevo</a></li>
<li class="active"><a href="{% url ogcs-mantenimiento-odp-consulta %}" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido_izq">
<div id="nuevo" class="tab-pane fade in active">
<form class="form-inline" name="frmreg" method="get" action="/{% url ogcs-mantenimiento-odp-consulta %}"><!--data-toggle="modal"-->
<div id="frmregion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');">&times;</a>
      <h3>Consulta de OPD</h3>
    </div>
    <div class="modal-body">
    <div class="row-fluid">
    <div class="span3">{{ consultaodpform.nummin.label_tag }}:</div><div class="span2">{{ consultaodpform.nummin }}</div></div><p></p>
    <div class="row-fluid">
    <div class="span3">{{ consultaodpform.odp.label_tag }}</div><div class="span5">{{ consultaodpform.odp }}</div>
    <div class="span2"><input class="btn-primary" name="grabar" value="Consultar" type="submit"></div>
    <div class="span2"><a class="btn btn-primary" href="javascript: imprimir();">Imprimir</a></div></div> <p></p>
      <br>
      <fieldset>
	<legend><h4>Lista de OPD</h4></legend>
      {% render_table tabla %}    
      </fieldset>
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
function imprimir(){
var ministerio=$('#id_nummin').val();
var odp=$('#id_odp').val();
var url="{% url ogcs-mantenimiento-odp-print %}?odp="+odp+"&nummin="+ministerio;
location.href=url;
}
combotodos('id_nummin');validaletra('id_odp');
</script>
  {% endblock %}
