  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% include 'include/header.html' %}
  {% load render_table from django_tables2 %}
<ul class="nav nav-tabs">
<li><a href="/ubigeo/provincia/add/">{%if not opcion %} Nuevo {% else %} {% if opcion == "add" %}Nuevo {% else %} Modificar {% endif %}{% endif %}</a></li>
<li class="active"><a href="/ubigeo/provincia/consulta/" >Consultar</a></li>
</ul>
<div class="tab-content" id="contenido">
<div id="nuevo" class="tab-pane fade in active">
<form class="form-inline span4" name="frmreg" method="get" action="/ubigeo/provincia/consulta/"><!--data-toggle="modal"-->
<div id="frmregion" class="modal span8" style="position: relative; top: auto; left: absolute; margin: 0 auto; z-index: 1"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');">&times;</a>
      <h3>Consulta de Provincia</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
      {% for campo in consultaprovinciaform %}
      <div class="row-fluid">
      <div class="span3" >{% if campo.label == "Región" %}<label for="id_region">Elija la Región</label>:{% else %}{{ campo.label_tag }}:{% endif %}</div><div class="span4" > {{ campo }}</div>{% if campo.label == "Digite el texto de busqueda" %} <div class="span2"><input class="btn-primary" name="grabar" value="Consultar" type="submit"></div><div class="span1"><a class="btn btn-primary" href="javascript: imprimir();">Imprimir</a> </div>{% endif %}</div><p></p>
      {% endfor %} </div>
      <fieldset>
	<legend><h4>Lista de provincias</h4></legend>
      {% render_table tabla %}    
      </fieldset>
    </div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">      
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
function imprimir(){
var region=$('#id_region').val();
var provin=$('#id_provincia').val();
var url="/ubigeo/provincia/imprimir/?region="+region+"&provincia="+provin;
location.href=url;
}
</script>
  {% endblock %}
