  {% extends 'base.html' %}
  {% load static %}
  {% block title %} Plataforma Intersectorial de Comunicaci&oacute;n OGCS {% endblock %}
  {% block content %}
  {% include 'include/header.html' %}
    <ul class="nav nav-tabs">
    <li class="active"><a href="/ubigeo/region/{{ opcion }}/{% if codigo %}{{ codigo }}/{% endif %}">{% if opcion == "add" %}Nuevo {% else %} Modificar {% endif %}</a></li>
    <li><a href="/ubigeo/region/consulta/" >Consultar</a></li>
    </ul>
<div class="tab-content" id="contenido">
<div id="nuevo" class="tab-pane fade in active">
<form class="form-inline" name="frmreg" method="post" action="/ubigeo/region/{{ opcion }}/{% if codigo %}{{ codigo }}/{% endif %}" onSubmit="return confirmar('¿Desea grabar el registro?'); "><!--data-toggle="modal"-->
<div id="frmregion" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1"><!--class="modal hide fade">-->
    <div class="modal-header">
      <a class="close" data-dismiss="modal" href="javascript: cerrarformulario('contenido');" >&times;</a>
      <h3>Matenimiento de Región</h3>
    </div>
    <div class="modal-body">
      {% csrf_token %}
      <div class="row-fluid">
      {% if opcion == "add" %}
      {{ frmregion.region.errors }}
      {{ frmregion.region.label_tag }}: {{ frmregion.region }}
      <input type="hidden" name="estado" id="id_estado" value="1">
      {% else %}
      {% for campo in frmregion %}
      {{ campo.errors }}
      <div class="row-fluid">
      <div class="span2">{{ campo.label_tag }}:</div> {{ campo }}</div><p></p>
      {% endfor %}
      {% endif %}	
    </div></div>
    <div class="modal-footer">
     <input class="btn" name="grabar" value="Cerrar" type="button" onclick="cerrarformulario('contenido');">
      <input class="btn-primary" name="grabar" value="Guardar Cambios" type="submit">
    </div>
</div>
</form>
</div></div>
  {% endblock %}
  {% block scriptjs %}    
<script>
validaletra('id_region');
</script>
  {% endblock %}
