{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {% block css %}  
  <link href="{{ STATIC_URL  }}bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL  }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL  }}bootstrap/datepicker/css/datepicker.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL  }}prettify/prettify.css" rel="stylesheet" type="text/css"/>
  <link href="{{ STATIC_URL  }}css/estilo.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
  .fondo{background:#FFFFFF}
.menublanco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
}#alert, #alert1, #alert2, #alert3, #alert4, #alert5, #alert6, #alert7  {
		display: none;
	}
</style>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  {% endblock %}
  {% block csspage %}
  {% endblock %}
  <title>{% block title %}{% endblock %}</title></head>
  <body>
  <div id="contenedor" class="corners_5">
    <div id="cabecera">
    	<div id="cabecera_izq">
    		<img height="71" width="342" src="{{ STATIC_URL  }}images/logo.png">
    	</div>
        {% if login %}
        <div id="cabecera_der">
        	<img height="60" width="207" src="{{ STATIC_URL  }}images/logopcm.png" />
        </div>
    	{% else %}
        <div id="cabecera_der">       	
            <table width="356" border="0" cellspacing="0" cellpadding="0" style="margin:12px 8px 0 0">
             <tr>
               <td width="129" valign="top" class="ministerio">{{ dep }}</td>
               <td width="49" rowspan="2"><img src="{{ foto }}" width="38" height="36"></td>
               <td width="178" class="gris2">Bienvenido</td>
             </tr>
             <tr>
               <td valign="top" class="fecha">{{ fecha|date:"D d M Y H:i:s" }}</td>
               <td width="178" class="azul">{{ usuario }}</td>
             </tr>
           </table>
        </div>
       {% endif %}</div>
    <div class="clear"></div>    
    <div id="menu">
        {% if not login %} 	      
        <ul id="nave">
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">Mantenimiento<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li class="opcion"><a href="{% url ogcs-mantenimiento-region-add %}" data-toggle="modal">Regi&oacute;n</a></li>                
		  <li class="opcion"><a href="{% url ogcs-mantenimiento-provincia-add %}" data-toggle="modal">Provincia</a></li>
		  <li class="opcion"><a href="{% url ogcs-mantenimiento-ministerio-add %}" data-toggle="modal">Ministerio</a></li>
		  <li class="opcion"><a href="{% url ogcs-mantenimiento-odp-add %}" data-toggle="modal">ODP</a></li>
		  <li class="opcion"><a href="{% url ogcs-mantenimiento-gobernacion-add %}" data-toggle="modal">Gobernaci&oacute;n</a></li>
		  <li class="opcion"><a href="{% url ogcs-mantenimiento-usuario-add 1 %}" data-toggle="modal">Usuario</a></li>
                  <li class="opcion"><a href="{% url ogcs-mantenimiento-usuario-add 2 %}" data-toggle="modal">Administrador</a></li>
                </ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">OAC<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-oac-add %}" data-toggle="modal">Nuevo Oac</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-oac-query %}" data-toggle="modal">Consultar Oac</a></li>		  
		</ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">PGCS<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-pgcs-add %}" data-toggle="modal">PGCS - OGCS</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-pgcs-aporte-add %}" data-toggle="modal">PGCS - APORTE</a></li>		  
		</ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">MCCA<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-mcca-add %}" data-toggle="modal">Nuevo Mcca</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-mcca-query %}" data-toggle="modal">Consultar Mcca</a></li>		  
		</ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">MCC<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-mcc-add %}" data-toggle="modal">Nuevo Mcc</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-mcc-query %}" data-toggle="modal">Consultar Mcc</a></li>		  
		</ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">MG<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-mg-add %}" data-toggle="modal">Nuevo Mg</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-mg-query %}" data-toggle="modal">Consultar Mg</a></li>		  
		</ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">DIG<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-dig-add %}" data-toggle="modal">Nuevo Dig</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-dig-query %}" data-toggle="modal">Consultar Dig</a></li>		  
		</ul></li>
            <li class="dropdown principal"><a class="dropdown-toggle menublanco" data-toggle="dropdown" href="">ARI<b class="caret"></b></a>
                <ul class="dropdown-menu">                  
                  <li><a href="{% url ogcs-mantenimiento-ari-add %}" data-toggle="modal">Nuevo Ari</a></li>                
		  <li><a href="{% url ogcs-mantenimiento-ari-query %}" data-toggle="modal">Consultar Ari</a></li>		  
		</ul></li>
        </ul>
        <div id="cerrar_sesion">
        <a class="menublanco" href="{% url ogcs-logout %}"> Cerrar sesión&nbsp;<img width="20" height="19" src="{{ STATIC_URL }}images/sesion.png" align="absmiddle"></a>
        </div>
       {% endif %} 
    </div>
{% if not login %} <div id="contenido"> {% endif %}
  {% block content %}
  {% endblock %}
{% if not login %}<div id="contenido_der">
            <div id="foros">
           	<div class="links"><a href="#">Foro OGCS</a> </div>
                <div class="links"><a href="{% url jqchat_test_window 1 %}"> Chat OGCS </a></div>
                <div class="links"><a href="#">Documentos</a></div>
                <div class="links"><a href="#">Acta de Reunión</a></div>
            </div>
        </div>  </div>{% endif %}
</div>
  {% block js %}  
  <script src="{{ STATIC_URL }}bootstrap/js/jquery.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/jquery.corner.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/publico.js" type="text/javascript"></script>
  <!--<script src="{{ STATIC_URL }}bootstrap/js/jquery-ui.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/jquery.validate.js" type="text/javascript"></script>-->
  <script src="{{ STATIC_URL }}prettify/prettify.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/application.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js" type="text/javascript"></script>  
  <script src="{{ STATIC_URL }}bootstrap/datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}bootstrap/datepicker/js/locales/bootstrap-datepicker.es.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}js/general.js" type="text/javascript"></script>
  {% endblock %}
  {% block scriptjs %}
  {% endblock %}
</body>
</html>
