{% load i18n pybb_tags %}

<div class='category'>
    <h3>{{ category.name }} {% if category.hidden %}[{% trans "Hidden" %}]{% endif %}</h3>
    <p>Creado por {{ category.idusuario_creac.get_full_name }} de {{ category.idusuario_creac.get_profile.get_dependencia.iniciales }} el {{ category.fec_creac }}</p>
    <table class="category-table">
        <tr class="forum-row head-row">
                <th class="forum-name">
                    {% trans "Foro" %}
                </th>
                <th class="forum-topic-count">
                    {% trans "Temas" %}
                </th>
                <th class="forum-post-count">
                    {% trans "Posts" %}
                </th>
        </tr>
        {% for forum in category.forums_accessed|pybb_forum_unread:user %}
           {% if forum.estado == 0 %}
            <tr class="forum-row">
                <td class="forum-name {% if forum.unread %} unread {% endif %}">
                    <div class='state-indicator'></div>
                    <a href='{{ forum.get_absolute_url }}'>{{ forum.name }}</a><p>Creado por {{ forum.idusuario_creac.get_full_name  }} de {{ forum.idusuario_creac.get_profile.get_dependencia.iniciales }} el {{ forum.fec_creac }}</p> {% if forum.hidden %}[{% trans "Hidden" %}]{% endif %}
                    <div class='forum-description'>
                        {{ forum.description|safe }}
                    </div>
                </td>
                <td class="forum-topic-count">
                    {{ forum.topic_count }}
                </td>
                <td class="forum-post-count">
                    {{ forum.post_count }}
                </td>                
            </tr>{% endif %}
        {% empty %}
            <h4>{% trans "No hay Foros creados" %}</h4>
       {% endfor %}
    </table>
</div>
