{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{% trans "Editing the post" %}{% endblock title %}


{% block content %}
<div class="tab-content" id="contenido_izq">
	<div id="nuevo" class="tab-pane fade in active" >
    	<div id="frmprovincia" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto">
        <div class="modal-header">
      		<h3>{% trans "Editando el Post" %}</h3>
      
    	</div>
        {% include "pybb/post_form.html" %}
    	</div>  
    </div>
</div>
{% endblock content %}


{% block scriptjs %}
{% include "pybb/markitup.html" %}
{% endblock scriptjs %}