{% load i18n pybb_tags %}
<form class="post-form" action="
    {% if forum %}
        {% url pybb:add_topic forum.pk %}
    {% else %}
        {% if topic %}
            {% url pybb:add_post topic.pk %}
        {% else %}
            {% url pybb:edit_post pk=object.pk %}
        {% endif %}
    {% endif %}" method="post" enctype="multipart/form-data" id="form_post" name="form_post">
    {% csrf_token %}
       <fieldset style="margin:0 10px">            
            {% if user.get_profile.nivel.codigo == 2 %}<div class="row-fluid">  
            <div class="span2"><label for="id_login">Usuario:</label></div><div class="span5">{{ form.login }}</div></div>{% endif %}
            <div class="row-fluid"><div class="span2"><label for="id_login">Mensaje:</label></div></div>
            {{ form.body }}
            <div id='emoticons'>
                {% for smile, url in form.available_smiles.items %}
                    <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}images/emoticons/{{ url }}'></a>
                {% endfor %}
            </div>
            {% include "pybb/attachments_formset.html" %}
            <div class="modal-footer">
                {% if PYBB_BUTTONS.submit %}
                    <input type='image' src="{{ STATIC_URL }}{{ PYBB_BUTTONS.submit }}" alt='{% trans "Submit" %}' >
                {% else %}
                   <input type="submit" value="{% trans 'Comentar' %}" class="btn-primary" />
                {% endif %}
            </div>
    </fieldset>
</form>

