{% load i18n pybb_tags %}
<form class="post-form" action="
    {% if forum %}
        {% url pybb:add_topic forum.pk %}
    {% else %}
        {% if topic %}
            {% url pybb:add_post topic.pk %}
        {% else %}
            {% url pybb:edit_post pk=object.pk %}
        {% endif %}
    {% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
       <fieldset style="margin:0 10px">
            {{ form.as_p }}
            <div id='emoticons'>
                {% for smile, url in form.available_smiles.items %}
                    <a href='#' title='{{ smile|safe }}'><img src='{{ STATIC_URL }}images/emoticons/{{ url }}'></a>
                {% endfor %}
            </div>
            {% include "pybb/attachments_formset.html" %}
            <div class="modal-footer">
                {% if PYBB_BUTTONS.submit %}
                    <input type='image' src="{{ STATIC_URL }}{{ PYBB_BUTTONS.submit }}" alt='{% trans "Submit" %}' >
                {% else %}
                   <input type="submit" value="{% trans 'Submit' %}" class="btn-primary" />
                {% endif %}
            </div>
    </fieldset>
</form>
