{% extends 'pybb/base.html' %}
{% load pybb_tags i18n %}

{% block title %}{{ topic }}{% endblock %}



{% block content %}
<div class="tab-content" id="contenido_izq">
	<div id="nuevo" class="tab-pane fade in active" >
    	<div id="frmprovincia" class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto auto 20px; z-index: 1;width:720px;height:auto">
        <div class="modal-header">
      		<h3>{{ topic.name }}</h3>
      
    	</div>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}

    <div class="posts">
        {% if first_post %}{% ifnotequal first_post post_list.0 %}
            {% with first_post as post %}
                <li class="first_post">{% include "pybb/post_template.html" %}</li>
            {% endwith %}
        {% endifnotequal %}{% endif %}
        {% for post in post_list %}
            {% cycle 'odd' 'even' as rowcolors silent %}
            {% include "pybb/post_template.html" %}
        {% endfor %}
    </div>
    <div>&nbsp;</div>
    {% with _('Posts') as label %}
        {% include "pybb/pagination.html" %}
    {% endwith %}

    {% if user.is_authenticated %}
        <div class="controls">
            {% if user.is_moderator %}
                {% if topic.sticky %}
                    <a href="{% url pybb:unstick_topic topic.id %}">{% trans "Desadherir Tema" %}</a> /
                {% else %}
                    <a href="{% url pybb:stick_topic topic.id %}">{% trans "Adherir Tema" %}</a> /
                {% endif %}

                {% if topic.closed %}
                    <a href="{% url pybb:open_topic topic.id %}">{% trans "Abri tema" %}</a> /
                {% else %}
                    <a href="{% url pybb:close_topic topic.id %}">{% trans "Cerar tema" %}</a> /
                {% endif %}
                {% if perms.pybb.change_topic and user.is_staff %}
                    <a href="{% url admin:pybb_topic_change topic.id %}">{% trans 'Admin' %}</a> / 
                {% endif %}
                {% comment %}
        <a href="{% url pybb:merge_topics %}?topic={{ topic.id }}">{% trans 'Mezclar Temas' %}</a> /
        {% endcomment %}
            {% endif %}

            {% if user.is_subscribed %}
                <a href="{% url pybb:delete_subscription topic.id %}?from_topic">{% trans "Dejar suscripcion" %}</a>
            {% else %}
                <a href="{% url pybb:add_subscription topic.id %}">{% trans "Suscribete" %}</a>
            {% endif %}
        </div>
    {% endif %}

    {% if user.is_authenticated or PYBB_ENABLE_ANONYMOUS_POST %}
        {% if not user.get_profile.is_banned %}
            {% if not topic.closed %}
                {% include "pybb/post_form.html" %}
            {% endif %}
        {% endif %}
    {% else %}
        <a href="{% url registration_register %}">{% trans "Register" %}</a> {% trans "or" %} <a href="{% url auth_login %}">{% trans "login" %}</a> {% trans "to create to post a reply" %}.
    {% endif %}

    {% if user.is_staff %}
        <div class='subscriber-list'>
            {% trans "Suscritos" %}:
            {% for subscriber in topic.subscribers.all %}
                <a href='{{ subscriber.get_absolute_url }}'>{{ subscriber.username }}</a>,
            {% endfor %}
        </div>
    {% endif %}
    	</div>
    </div>
</div>

{% endblock %}
{% block scriptjs %}
{% include "pybb/markitup.html" %}
{% endblock scriptjs %}
